{% extends "edition-3/base.html" %}

{% import "snippets.html" as snippets %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block description -%}
{{ page.summary | safe | striptags | truncate(length=150) }}
{%- endblock description %}

{% block main %}
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}
{% endblock main %}

{% block after_main %}
    <hr>
    <section>
        <h2>Comments</h2>
        {{ snippets::utterances() }}
    </section>
{% endblock after_main %}
