<!doctype html>

<html lang="{{ config.language_code }}">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="{{ config.extra.author.name }}">

    <link href="/css/poole.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="container content">
        <header class="masthead">
            <h3 class="masthead-title">
                <a href="/" title="Home">{{ config.title }}</a>
                <small>{{ config.extra.subtitle }}</small>
            </h3>
        </header>

        <main>{% block main %}{% endblock main %}</main>

        <div>{% block after_main %}{% endblock after_main %}</div>

        <footer class="footer">
            <hr>
            <small>
                &copy; <time datetime="2017">2017</time>. All rights reserved.
                <a href="/contact.html">Contact</a>
            </small>
        </footer>
    </div>
</body>

</html>
