{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ config.title }}{% endblock title %}

{% block main %}
{% set posts_section = get_section(path = "posts/_index.md") %}
{% set posts = posts_section.pages | reverse %}
<div class="front-page-introduction">
    <p>
        This blog series creates a small operating system in the
        <a href="https://www.rust-lang.org/">Rust programming language</a>. Each post is a small tutorial and includes all
        needed code, so you can follow along if you like. The source code is also available in the corresponding
        <a href="https://github.com/phil-opp/blog_os">Github repository</a>.
    </p>
    <p>Latest post:
        {% set latest_post = posts|last %}
        <strong><a href="{{ latest_post.permalink | safe }}">{{ latest_post.title }}</a></strong>
    </p>
</div>

<div id="bare-bones" class="post-category bare-bones">Bare Bones</div>
<div class="posts bare-bones">
    {{ macros::post_link(page=posts.0) }}
    {{ macros::post_link(page=posts.1) }}
    {{ macros::post_link(page=posts.2) }}
    {{ macros::post_link(page=posts.3) }}
</div>

<div id="memory-management" class="post-category memory-management">Memory Management</div>
<div class="posts memory-management">
    {{ macros::post_link(page=posts.4) }}
    {{ macros::post_link(page=posts.5) }}
    {{ macros::post_link(page=posts.6) }}
    {{ macros::post_link(page=posts.7) }}
</div>

<div id="interrupts" class="post-category exceptions">Exceptions</div>
<div class="posts exceptions">
    {{ macros::post_link(page=posts.8) }}
    {{ macros::post_link(page=posts.9) }}
</div>

<hr>
{% set extra = get_section(path = "extra/_index.md") %}
<h1>{{ extra.title }}</h1>
<ul>
    {% for subsection in extra.subsections|reverse %}
        <li><a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a></li>
    {% endfor %}
    {% for page in extra.pages|reverse %}
        <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>

<aside id="recent-updates">
    <h2>Recent Updates</h2>
    {% include "recent-updates.html" %}
</aside>

{% endblock main %}
