{% macro post_link(page) %}
    <article>
        <h2 class="post-title"><a href="/{{ page.path | safe }}">{{ page.title }}</a></h2>
        <div class="post-summary">
            {{ page.summary | safe}}
            <a class="read-more" href="/{{ page.path | safe }}">read&nbsp;more…</a>
        </div>
    </article>
{% endmacro post_link %}

{% macro utterances() %}
    <script src="https://utteranc.es/client.js"
        repo="phil-opp/blog_os"
        issue-term="url"
        label="comments"
        crossorigin="anonymous"
        async>
    </script>
{% endmacro utterances %}
