{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block main %}
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="post-date">
        {{ page.date | date(format="%b %d, %Y") }}
        {% if page.extra.updated %} (updated on {{ page.extra.updated | date(format="%b %d, %Y") }}) {% endif %}
    </time>
    {{ page.content | safe }}
{% endblock main %}

{% block after_main %}
    <hr>
    <div class="PageNavigation">
        {% if page.previous %}
            <a class="prev" href="{{ page.previous.path }}">&laquo; {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
            <a class="next" href="{{ page.next.path }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>

    <hr>
    <script data-isso="//comments.phil-opp.com/fcgi-bin/isso"
        src="//comments.phil-opp.com/fcgi-bin/isso/js/embed.min.js"></script>
    <section>
        <h2>Comments</h2>
        <section id="isso-thread"></section>
    </section>

{% endblock after_main %}


