<p>
    Creating this blog and the libraries and tools behind the scenes takes a lot of time. I really enjoy it and I'm committed to keep working on it. By supporting me, you allow me to invest more time into new content, new features, and continuous maintainance.
</p>
<p>
    The best way to support me is to <a href="https://github.com/users/phil-opp/sponsorship"><em>sponsor me on GitHub</em></a>. GitHub will even match sponsorships until October 2020! If you prefer other platforms, I also have <a href="https://www.patreon.com/phil_opp"><em>Patreon</em></a> and <a href="https://donorbox.org/phil-opp"><em>Donorbox</em></a> accounts. The latter is the most flexible as it supports multiple currencies and one-time contributions.
</p>
<p>
    Thank you!
</p>