language: rust

rust:
    - nightly

cache:
  directories:
     - $HOME/.cargo
     - $HOME/.xargo
     - $TRAVIS_BUILD_DIR/target

before_script:
  - rustup component add rust-src
  - (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
  - (test -x $HOME/.cargo/bin/xargo || cargo install xargo)
  - cargo install-update -a

sudo: false

notifications:
    email:
        on_success: never
        on_failure: change

addons:
  apt:
    packages:
      - nasm

script:
  - make
