language: rust

sudo: false

notifications:
    email:
        on_success: never
        on_failure: change

branches:
  only:
    # This is where pull requests from "bors r+" are built.
    - staging
    # This is where pull requests from "bors try" are built.
    - trying
    # Build pull requests.
    - master

rust:
    - nightly

os:
  - linux
  - osx
  - windows

cache:
  cargo: true
  directories:
    - $HOME/Library/Caches/Homebrew

addons:
  apt:
    packages:
      - qemu-system-x86
  homebrew:
    packages:
      - qemu

install:
  - if [ $TRAVIS_OS_NAME = windows ]; then choco install qemu; export PATH="/c/Program Files/qemu:$PATH"; fi

before_script:
  - rustup component add rust-src
  - (test -x $HOME/.cargo/bin/cargo-update-installed || cargo install cargo-update-installed)
  - (test -x $HOME/.cargo/bin/cargo-xbuild || cargo install cargo-xbuild)
  - (test -x $HOME/.cargo/bin/bootimage || cargo install bootimage)
  - cargo update-installed
  - cargo install cargo-xbuild --git https://github.com/rust-osdev/cargo-xbuild.git --branch escape-fix --force

script:
  - bootimage build
  - cargo test
  - bootimage test
