language: rust

rust:
    - nightly

sudo: false

notifications:
    email:
        on_success: never
        on_failure: change

addons:
  apt:
    packages:
      - nasm

script:
    - make

after_success: sh scripts/travis-blog-update.sh
