---
layout: default
title: Home
---

<div class="front-page-introduction">
<p>This blog series creates a small operating system in the <a href="https://www.rust-lang.org/">Rust programming language</a>.
Each post is a small tutorial and includes all needed code, so you can follow along if you
like. The source code is also available in the corresponding <a href="https://github.com/phil-opp/blog_os">Github
repository</a>.</p>
<p>Latest post: {% for post in site.posts limit:1 %}
  <strong><a href="#{{ post.id }}" onclick="
    post = document.getElementById('{{ post.id }}');
    post.className = post.className.replace(/\b updated\b/, '');
    post.offsetWidth = post.offsetWidth; // trigger reflow -> works on 2nd click, too
    post.className += ' updated';
  ">{{post.title}}</a></strong>
{% endfor %}</p>
</div>

{% assign posts = site.posts | reverse %}

<div id="bare-bones" class="post-category bare-bones">Bare Bones</div>
<div class="posts bare-bones">
  {% for post in posts limit:4  %}
    {% include post_teaser.html %}
  {% endfor %}
</div>

<div id="memory-management" class="post-category memory-management">Memory Management</div>
<div class="posts memory-management">
  {% for post in posts offset:4 limit:3 %}
    {% include post_teaser.html %}
  {% endfor %}
</div>

<div class="posts">
  {% for post in posts offset:7 %}
    {% include post_teaser.html %}
  {% endfor %}
</div>
