---
layout: default
title: Home
---
<div class="newest-post">
<emph>Latest Post</emph>: {% for post in site.posts limit:1 %}
  <strong><a href="#{{ post.id }}" onclick="
    post = document.getElementById('{{ post.id }}');
    post.className = post.className.replace(/\b updated\b/, '');
    post.offsetWidth = post.offsetWidth; // trigger reflow -> works on 2nd click, too
    post.className += ' updated';
  ">{{post.title}}</a></strong>
{% endfor %}
</div>

{% assign posts = site.posts | reverse %}

<div class="post-category bare-bones">Bare Bones</div>
<div class="posts bare-bones">
  {% for post in posts limit:4  %}
    {% include post_teaser.html %}
  {% endfor %}
</div>

<div class="post-category memory-management">Memory Management</div>
<div class="posts memory-management">
  {% for post in posts offset:4 limit:3 %}
    {% include post_teaser.html %}
  {% endfor %}
</div>

<div class="posts">
  {% for post in posts offset:7 %}
    {% include post_teaser.html %}
  {% endfor %}
</div>
