
.masthead-title small {
   margin-left: 1rem;
}

.front-page-introduction {
	margin-bottom: 2rem;
}

.navigation {
  float: right;
}

.navigation img {
  height: 1em;
  vertical-align: baseline;
  display: inline;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

main img {
  max-width: 100%;
}

.post {
  margin-bottom: 2em;
}

.post:last-child {
  margin-bottom: 0em;
}

.posts {
  padding: 1.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.posts.bare-bones {
  border: 2px solid #66f;
}

.posts.memory-management {
  border: 2px solid #cc0;
}

.posts hr {
  margin: 2rem 0;
}

.post-category {
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: right;
}

.post-category.bare-bones {
  color: #55d;
}

.post-category.memory-management {
  color: #990;
}

.PageNavigation {
  font-size: 0.9em;
  display: table;
  width: 100%;
  overflow: hidden;
}

.PageNavigation a {
  display: table-cell;
}

.PageNavigation .previous {
  text-align: left;
}

.PageNavigation .next {
  text-align: right;
}

footer.footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footnotes {
  font-size: 85%;
}

.footnotes li {
  margin-bottom: 1rem;
}

sup, sub {
  line-height: 0;
}

a.anchorjs-link:hover {
    text-decoration: none;
}
