// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 45rem;
  padding-left:  0.5rem;
  padding-right: 0.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
}

.updated {
	border-radius: 5px;
    -webkit-animation: fadeIt 2s linear;
       -moz-animation: fadeIt 2s linear;
         -o-animation: fadeIt 2s linear;
            animation: fadeIt 2s linear;
}

@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  15%  { background-color: #ff9; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  15%  { background-color: #ff9; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  15%  { background-color: #ff9; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  15%  { background-color: #ff9; }
  100% { background-color: #FFFFFF; }
}
