// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page {
  margin-bottom: 4em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}


// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}

.PageNavigation {
  font-size: 0.9em;
  display: table;
  width: 100%;
  overflow: hidden;
}

.PageNavigation a {
  display: table-cell;
}

.PageNavigation .previous {
  text-align: left;
}

.PageNavigation .next {
  text-align: right;
}

.newest-post {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 1em;
	margin-bottom: 2em;
	margin-top: -2em;
}

.posts hr {
  margin: 2rem 0;
}

@mixin category-posts($color) {
  border: 2px solid $color;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem;
}

@mixin category-title($color) {
  color: $color;
  margin-right: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: right;
}

.posts.bare-bones {
  @include category-posts(#aaf);
}

.post-category.bare-bones {
  @include category-title(#77f);
}

.posts.memory-management {
  @include category-posts(#ff7);
}

.post-category.memory-management {
  @include category-title(#cc0);
}
