{% extends "edition-2/base.html" %}

{% import "edition-2/macros.html" as macros %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block main %}
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="post-date">
        {{ page.date | date(format="%b %d, %Y") }}
        {% if page.extra.updated %} (updated on {{ page.extra.updated | date(format="%b %d, %Y") }}) {% endif %}
    </time>
    {{ page.content | safe }}
{% endblock main %}

{% block after_main %}
    <hr>
    <section>
        <h2 id="comments">Comments</h2>
        {{ macros::utterances() }}
    </section>

{% endblock after_main %}


