<!doctype html>

<html lang="{{ config.default_language }}">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="{{ config.extra.author.name }}">

    <link rel="canonical" href="{{ current_url | safe }}" />
    <link href="/css/poole.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <script async src="/js/main.js"></script>

    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="container content">
        <header class="masthead">
            <h1 class="masthead-title">
                    <a href="{{ get_url(path="./second-edition/_index.md") }}" title="Home">{{ config.title }} (Second Edition)</a>
            </h1>
            <p><small>{{ config.extra.subtitle }}</small></p>
        </header>

        <main>{% block main %}{% endblock main %}</main>

        <div>{% block after_main %}{% endblock after_main %}</div>

        <footer class="footer">
            <hr>
            <small>
                &copy; <time datetime="2018">2018</time>. All rights reserved.
                <a href="{{ get_url(path="./pages/contact.md") }}">Contact</a>
            </small>
        </footer>
    </div>

    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//analytics.phil-opp.com/";
        _paq.push(['setTrackerUrl', u+'js/']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://cdnjs.cloudflare.com/ajax/libs/piwik/3.0.4/piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <!-- End Piwik Code -->
</body>

</html>
