{% extends "second-edition/base.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block main %}
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" class="post-date">
        {{ page.date | date(format="%b %d, %Y") }}
        {% if page.extra.updated %} (updated on {{ page.extra.updated | date(format="%b %d, %Y") }}) {% endif %}
    </time>
    <aside id="toc">
        <h2>Table of Contents</h2>
        <ol>
            {% for h2 in page.toc %}<li>
                <a href="#{{h2.id | safe}}">{{ h2.title | safe }}</a>
                {% if h2.children %}<ol>
                    {% for h3 in h2.children %}<li>
                        <a href="#{{h3.id | safe}}">{{ h3.title | safe }}</a>
                    </li>{% endfor %}
                </ol>{% endif %}
            </li>{% endfor %}
        </ol>
    </aside>
    {{ page.content | safe }}

    <div class="post-footer-support">
        <h2>Support Me</h2>
        <p>In case you liked this post and would like to support me, you can do so on <a href="https://liberapay.com/phil-opp/">liberapay</a> or <a href="https://donorbox.org/phil-opp">donorbox</a>. Thanks!</p>
    </div>
{% endblock main %}

{% block after_main %}
    <hr>
    <div class="PageNavigation">
        {% if page.previous %}
            <a class="prev" href="/{{ page.previous.path | safe }}">&laquo; {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
            <a class="next" href="/{{ page.next.path | safe }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>

    <hr>
    <section>
        <h2 id="comments">Comments</h2>
        {{ macros::utterances() }}
    </section>

{% endblock after_main %}


