<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.full_title }}</a>
          <!--<small>{{ site.tagline }}</small>-->
          <span class="navigation">
          {% for page in site.navigation_pages %}
            <small><a href="{{ page[1] }}">{{ page[0] }}</a></small>
          {% endfor %}</span>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved. <a href="{{ site.contact }}">Contact</a>
        </small>
      </footer>
    </div>

    {% include google_analytics.html %}

  </body>
</html>
