---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
  <hr>

	<div class="PageNavigation">
	  {% if page.previous.url %}
		<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
	  {% endif %}
	  {% if page.next.url %}
		<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
	  {% endif %}
	</div>

  <hr>
  {% include disqus.html %}
</article>
